@font-face {
  font-family: "Georgia";
  src: url('../fonts/georgia.ttf');
  src: url('../fonts/georgia.eot') format('eot'), url('../fonts/georgia.woff') format('woff');
  font-weight: 800;
}

@font-face {
  font-family: "Steelfish";
  src: url('../fonts/steelfish_bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'Steelfish-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Steelfish-Regular'), url('../fonts/stell/steelfish.woff') format('woff');
}


@font-face {
  font-family: 'Steelfish-Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Steelfish-Bold'), url('../fonts/stell/steelfish\ bd.woff') format('woff');
}


@font-face {
  font-family: 'SteelfishOutline-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('SteelfishOutline-Regular'), url('../fonts/stell/steelfish\ outline.woff') format('woff');
}
@font-face {
  font-family: 'Nexa Script Heavy';
  src: url('../fonts/11325.ttf');
  font-weight: 800;
}


a {
  color: #bd3b13;
  text-decoration: none;
}

a:hover {
  color: #333333;
}

.uslug {
  font-family: 'Oswald', sans-serif !important;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4a4a43;
  font-weight: bold;
  line-height: 1.1;
  font-family: 'Oswald', sans-serif !important;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.image {
  border: 1px solid #d2d2cb;
  padding: 1px;
  background: white;
  display: block;
}

.image img {
  display: block;
  border: 6px solid #f7f7f3;
}

.button {
  color: white;
  background: #bd3b13;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(189, 59, 19, 0.2);
  -moz-box-shadow: 3px 3px 0px 0px rgba(189, 59, 19, 0.2);
  box-shadow: 3px 3px 0px 0px rgba(189, 59, 19, 0.2);
  text-transform: uppercase;
  font-family: Steelfish, "helvetica neue", helvetica, arial, sans-serif;
  letter-spacing: 0.05em;
  font-size: 24px;
  padding: 7px 20px;
  margin: 10px 10px 10px 0;
}

.button:hover {
  color: #fde8e8;
}

body {
  background: url(../images/pattern-1.png) left top repeat;
  font-family: "droid serif", Georgia, times, serif;
}

body.pattern-1 {
  background: url(../images/pattern-1.png) left top repeat;
}

body.pattern-2 {
  background: url(../images/pattern-2.png) left top repeat;
}

body.pattern-3 {
  background: url(../images/pattern-3.png) left top repeat;
}

body.pattern-4 {
  background: url(../images/pattern-4.png) left top repeat;
}

body.pattern-5 {
  background: url(../images/pattern-5.png) left top repeat;
}

body.pattern-6 {
  background: url(../images/pattern-6.png) left top repeat;
}

body.pattern-7 {
  background: url(../images/pattern-7.png) left top repeat;
}

body.pattern-8 {
  background: url(../images/pattern-8.png) left top repeat;
}

body.pattern-9 {
  background: url(../images/pattern-9.png) left top repeat;
}

body.pattern-10 {
  background: url(../images/pattern-10.png) left top repeat;
}

body #header {
  background: url(../images/header_bg2.png) 0 59px repeat-x;

  position: relative;
  min-width: 960px;
}

body #main {
  margin-bottom: 150px;
}

body #footer {
  background: url(../images/footer_bg.png) left top repeat-x;
  min-width: 960px;
}

body.colorSchemeCyan #header {
  background: url(../images/header_bg_cyan.png) 0 59px repeat-x;
}

body.colorSchemeCyan #footer {
  background: url(../images/footer_bg_cyan.png) left top repeat-x;
}

body.colorSchemeCyan h1,
body.colorSchemeCyan h2,
body.colorSchemeCyan h3,
body.colorSchemeCyan h4,
body.colorSchemeCyan h5,
body.colorSchemeCyan h6 {
  color: #2a3f44;
}

body.colorSchemeCyan a {
  color: #53a9bc;
}

body.colorSchemeCyan a:hover {
  color: #ee6859;
}

body.colorSchemeCyan .button {
  color: white;
  background: #ee6859;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(238, 104, 89, 0.2);
  -moz-box-shadow: 3px 3px 0px 0px rgba(238, 104, 89, 0.2);
  box-shadow: 3px 3px 0px 0px rgba(238, 104, 89, 0.2);
}

body.colorSchemeCyan .button:hover {
  color: #fde8e8;
}

#footer {
  font-size: 12px;
  font-family: "droid sans", "helvetica neue", helvetica, arial, sans-serif;
}

p.copy {
  font-family: "droid serif", Georgia, times, serif;
  color: #89897a;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  /* width: 580px; */
}

.oldie .button {
  behavior: url("stylesheets/PIE.htc");
  position: relative;
}

.oldie body.colorSchemeCyan .button {
  behavior: url("stylesheets/PIE.htc");
  position: relative;
}

.modBlogNav {
  height: 24px;
  padding: 26px 0;
  font-size: 18px;
  font-style: italic;
  background: url(../images/blog-nav/blognav_bg.png) left top repeat-x;
}

.modBlogNav a.left {
  padding: 0 0 0 35px;
  background: url(../images/blog-nav/blognav_arrows.png) left 5px no-repeat;
}

.modBlogNav a.left:hover {
  background: url(../images/blog-nav/blognav_arrows.png) left -115px no-repeat;
}

.modBlogNav a.right {
  padding: 0 35px 0 0;
  background: url(../images/blog-nav/blognav_arrows.png) right -45px no-repeat;
}

.modBlogNav a.right:hover {
  background: url(../images/blog-nav/blognav_arrows.png) right -165px no-repeat;
}

.modBlogNav.colorSchemeCyan a.left {
  padding: 0 0 0 35px;
  background: url(../images/blog-nav/blognav_arrows_cyan.png) left 5px no-repeat;
}

.modBlogNav.colorSchemeCyan a.left:hover {
  background: url(../images/blog-nav/blognav_arrows_cyan.png) left -115px no-repeat;
}

.modBlogNav.colorSchemeCyan a.right {
  padding: 0 35px 0 0;
  background: url(../images/blog-nav/blognav_arrows_cyan.png) right -45px no-repeat;
}

.modBlogNav.colorSchemeCyan a.right:hover {
  background: url(../images/blog-nav/blognav_arrows_cyan.png) right -165px no-repeat;
}

.modBlogNews .title {
  text-transform: uppercase;
  margin-bottom: 40px;
  text-shadow: 1px 1px 0 #e5e5dd, 2px 2px 0 #cdcdcd;
}

.modBlogNews .timestamp {
  background: #bcbcb3;
  width: 64px;
  height: 59px;
  margin-top: -4px;
  margin-bottom: 0;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
  border-radius: 32px;
  color: white;
  padding: 5px 0 0;
}

.modBlogNews .timestamp .month {
  margin-top: 5px;
  display: block;
  font-style: italic;
  line-height: 1;
  font-size: 10px;
}

.modBlogNews .timestamp .date {
  display: block;
  font-weight: bold;
  font-size: 24px;
  padding: 3px 0;
  font-family: "droid sans", "helvetica neue", helvetica, arial, sans-serif;
}

.modBlogNews .timestamp .year {
  display: block;
  font-style: oblique;
  line-height: 1;
  font-size: 10px;
}

.modBlogNews h4 {
  color: #bd3b13;
  font-size: 24px;
  margin-bottom: 10px;
  margin-left: 76px;
  font-weight: bold;
}

.modBlogNews p.excerpt {
  margin-left: 76px;
}

.modBlogNews.colorSchemeCyan .timestamp {
  background: #b3babc;
}

.oldie .modBlogNews .timestamp {
  behavior: url("stylesheets/PIE.htc");
  position: relative;
}

.oldie .modBlogNews h4 {
  margin-top: -20px;
}

.ie8 .modBlogNews p.excerpt {
  margin-bottom: 40px;
}

.modBlogPost {
  margin-bottom: 50px;
}

.modBlogPost .timestamp {
  background: #bcbcb3;
  width: 80px;
  height: 75px;
  margin: -6px 0 0 10px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
  color: white;
  padding: 5px 0 0;
}

.modBlogPost .timestamp .month {
  margin-top: 5px;
  display: block;
  font-style: italic;
  font-size: 12px;
}

.modBlogPost .timestamp .date {
  display: block;
  font-weight: bold;
  font-size: 28px;
  font-family: "droid sans", "helvetica neue", helvetica, arial, sans-serif;
}

.modBlogPost .timestamp .year {
  display: block;
  font-style: italic;
  font-size: 12px;
}

.modBlogPost .info {
  margin-left: 120px;
}

.modBlogPost .info p {
  color: #999999;
  margin-bottom: 15px;
}

.modBlogPost .info p a {
  color: #999999;
}

.modBlogPost .info p a:hover {
  color: #333333;
}

.modBlogPost .content {
  margin-left: 120px;
}

.modBlogPost h4 {
  font-size: 34px;
  font-weight: bold;
  color: #bd3b13;
  margin-bottom: 5px;
}

.modBlogPost img {
  max-width: 503px;
}

.modBlogPost blockquote {
  color: black;
  font-weight: bold;
  margin-bottom: 22px;
  font-family: "droid sans", "helvetica neue", helvetica, arial, sans-serif;
  background: url(../images/blog-post/blockquote_bg.png) left 3px no-repeat;
  padding: 0 0 0 20px;
  margin-left: 20px;
}

.modBlogPost h5,
.modBlogPost h6 {
  color: black;
  font-family: "droid sans", "helvetica neue", helvetica, arial, sans-serif;
  font-weight: normal;
  text-transform: capitalize;
  letter-spacing: 0.01em;
}

.modBlogPost h6 {
  font-size: 20px;
}

.modBlogPost ul {
  margin: 0 0 20px 40px;
}

.modBlogPost ul li {
  list-style: disc;
  padding: 0 0 5px;
}

.modBlogPost .comments-outer-wrapper {
  margin: 60px 0 0;
  padding: 0 0 0 120px;
  background: url(../images/blog-post/comments_bg.png) 10px 54px no-repeat;
}

.modBlogPost .comments-inner-wrapper {
  padding: 0 0 25px;
  background: url(../images/blog-post/section_bg.png) left bottom repeat-x;
}

.modBlogPost .comments {
  padding: 60px 0 0;
  background: url(../images/blog-post/section_bg.png) left top repeat-x;
}

.modBlogPost .comment {
  border-bottom: 1px solid #dddddd;
  margin-bottom: 25px;
}

.modBlogPost .comment .name {
  font-family: "droid sans", "helvetica neue", helvetica, arial, sans-serif;
  font-weight: bold;
  margin-bottom: 3px;
}

.modBlogPost .comment .meta {
  position: relative;
  font-size: 12px;
  color: #666666;
  margin-bottom: 15px;
}

.modBlogPost .comment .meta a {
  color: #666666;
  font-size: 14px;
}

.modBlogPost .comment .meta a:hover {
  color: #bd3b13;
}

.modBlogPost .comment .meta img {
  right: 0;
  top: -20px;
  position: absolute;
}

.modBlogPost .comment .comment {
  padding: 25px 0 0 0;
  margin-left: 30px;
  border-bottom: none;
  border-top: 1px solid #dddddd;
}

.modBlogPost .no-border-bottom {
  border-bottom: none;
}

.modBlogPost.colorSchemeCyan .timestamp {
  background: #b3babc;
}

.modBlogPost.colorSchemeCyan .info p a:hover {
  color: #ee6859;
}

.modBlogPost.colorSchemeCyan .comments-outer-wrapper {
  background: url(../images/blog-post/comments_bg_cyan.png) 10px 54px no-repeat;
}

.modBlogPost.colorSchemeCyan .comment .meta a:hover {
  color: #53a9bc;
}

.oldie .modBlogPost .timestamp {
  behavior: url("stylesheets/PIE.htc");
  position: relative;
}

.modCaseStudy h5 {
  color: black;
  font-size: 20px;
  margin-top: 30px;
  font-family: "droid sans", "helvetica neue", helvetica, arial, sans-serif;
  font-weight: normal;
  letter-spacing: 0.01em;
  text-transform: capitalize;
}

.modCaseStudy ul {
  margin-left: 20px;
  margin-bottom: 20px;
}

.modCaseStudy ul li {
  padding: 0 0 5px;
  list-style: disc;
}

.modCaseStudy .blog-nav-wrapper {
  padding-top: 30px;
}

.modCaseStudy img {
  max-width: 623px;
}

.modCommentForm {
  margin: 60px 0 0;
  padding: 6px 0 0 120px;
  background: url(../images/comment-form/comment_bg.png) 10px top no-repeat;
}

.modCommentForm form p {
  margin-bottom: 13px;
}

.modCommentForm form input,
.modCommentForm form textarea {
  background-color: rgba(188, 188, 179, 0.22);
  border: none;
  padding: 10px;
  font-size: 14px;
  font-family: "droid sans", "helvetica neue", helvetica, arial, sans-serif;
}

.modCommentForm form textarea {
  height: 220px;
  width: 506px !important;
}

.modCommentForm form input {
  width: 220px;
  margin-right: 10px;
  float: left;
}

.modCommentForm form label {
  float: left;
  padding: 10px 0 0;
  border: none !important;
}

.modCommentForm form label span {
  color: #999999;
}

.modCommentForm form .error {
  border: 2px solid red;
}

.modCommentForm form .button {
  background: #bd3b13;
  font-family: Steelfish, "helvetica neue", helvetica, arial, sans-serif;
  font-size: 24px;
  width: 180px;
  padding: 7px;
  margin: 10px 10px 10px 0;
}

.modCommentForm.colorSchemeCyan {
  background: url(../images/comment-form/comment_bg_cyan.png) 10px top no-repeat;
}

.modCommentForm.colorSchemeCyan .button {
  background: #ee6859;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(238, 104, 89, 0.2);
  -moz-box-shadow: 3px 3px 0px 0px rgba(238, 104, 89, 0.2);
  box-shadow: 3px 3px 0px 0px rgba(238, 104, 89, 0.2);
}

.oldie .modCommentForm form p {
  overflow: hidden;
}

.oldie .modCommentForm form p textarea {
  width: 490px !important;
}

.oldie .modCommentForm form p input,
.oldie .modCommentForm form p textarea {
  -pie-background: rgba(188, 188, 179, 0.3);
  behavior: url("stylesheets/PIE.htc");
  position: relative;
}

.oldie .modCommentForm form p .button {
  -pie-background: #bd3b13;
  behavior: url("stylesheets/PIE.htc");
  position: relative;
}

.oldie .modCommentForm.colorSchemeCyan .button {
  -pie-background: #ee6859;
  behavior: url("stylesheets/PIE.htc");
  position: relative;
}

.modContactInfo .title {
  font-size: 20px;
}

.modContactInfo ul li {
  display: block;
  padding: 18px 0 32px 68px;
}

.modContactInfo ul li.email {
  background: url(../images/contact-info/mail-icon.png) left top no-repeat;
}

.modContactInfo ul li.phone {
  background: url(../images/contact-info/phone-icon.png) left top no-repeat;
}

.modContactInfo ul li.skype {
  background: url(../images/contact-info/skype-icon.png) left top no-repeat;
}

.modContactInfo ul li.vcard {
  background: url(../images/contact-info/vcard-icon.png) left top no-repeat;
}

.modContactInfo.colorSchemeCyan ul li.email {
  background: url(../images/contact-info/mail-icon-cyan.png) left top no-repeat;
}

.modContactInfo.colorSchemeCyan ul li.phone {
  background: url(../images/contact-info/phone-icon-cyan.png) left top no-repeat;
}

.modContactInfo.colorSchemeCyan ul li.skype {
  background: url(../images/contact-info/skype-icon-cyan.png) left top no-repeat;
}

.modContactInfo.colorSchemeCyan ul li.vcard {
  background: url(../images/contact-info/vcard-icon-cyan.png) left top no-repeat;
}

.modContactUs .title {
  font-size: 20px;
  font-style: italic;
}

.modContactUs form input,
.modContactUs form textarea {
  background-color: rgba(188, 188, 179, 0.22);
  border: none;
  padding: 10px;
  font-size: 14px;
  font-family: "droid sans", "helvetica neue", helvetica, arial, sans-serif;
}

.modContactUs form textarea {
  height: 220px;
  width: 620px !important;
}

.modContactUs form input {
  width: 320px;
  margin-right: 10px;
  float: left;
}

.modContactUs form label {
  float: left;
  padding: 10px 0 0;
  border: none !important;
}

.modContactUs form label span {
  color: #999999;
}

.modContactUs form .error {
  border: 2px solid #d36159;
}

.modContactUs form .button {
  background: #bd3b13;
  font-family: Steelfish, "helvetica neue", helvetica, arial, sans-serif;
  font-size: 24px;
  width: 150px;
  padding: 7px;
  margin: 10px 10px 10px 0;
}

.modContactUs p.thanks {
  font-style: italic;
}

.modContactUs.colorSchemeCyan .button {
  background: #ee6859;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(238, 104, 89, 0.2);
  -moz-box-shadow: 3px 3px 0px 0px rgba(238, 104, 89, 0.2);
  box-shadow: 3px 3px 0px 0px rgba(238, 104, 89, 0.2);
}

.ie7 .modContactUs form p {
  overflow: visible;
}

.oldie .modContactUs input,
.oldie .modContactUs textarea {
  -pie-background: rgba(188, 188, 179, 0.3);
  behavior: url("stylesheets/PIE.htc");
  position: relative;
}

.oldie .modContactUs .button {
  -pie-background: #bd3b13;
  behavior: url("stylesheets/PIE.htc");
  position: relative;
}

.oldie .modContactUs.colorSchemeCyan .button {
  -pie-background: #ee6859;
  behavior: url("stylesheets/PIE.htc");
  position: relative;
}

.modGallery {
  margin: 0 auto;
}

.modGallery>ul.works>li {
  float: left;
  display: block;
  margin-right: 40px;
  margin-bottom: 15px;
}

.modGallery>ul.works>li p {
  text-shadow: 0 1px 0 white;
}

.modGallery>ul.works>li .image-wrapper {
  border: 1px solid #d2d2cb;
  padding: 1px;
  margin-bottom: 10px;
  background: white;
  width: 296px;
  height: 182px;
}

.modGallery>ul.works>li .image-wrapper a.image {
  position: relative;
  border: 6px solid #f7f7f3;
  /* background: #bd3b13; */
  padding: 0;
}

.modGallery>ul.works>li .image-wrapper a.image img {
  border: none !important;
  max-width: 284px;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.modGallery>ul.works>li .image-wrapper a.image span {
  display: none;
  position: absolute;
  background: black;
  color: white;
  z-index: 999;
  padding: 3px 5px;
  top: 45%;
  left: 32%;
}

.modGallery>ul.works>li .image-wrapper a:hover span {
  display: block;
}

.modGallery>ul.works>li .image-wrapper a:hover img {
  opacity: 0.4;
}

.modGallery>ul.works>li .image-wrapper a:hover img:hover {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.modGallery .last {
  margin-right: 0 !important;
}

.modGallery ul.nav {
  text-align: center;
  margin-bottom: 45px;
  margin-top: -20px;
}

.modGallery ul.nav li {
  display: inline;
  padding: 0 8px;
  line-height: 1em;
  border-left: 1px solid #cecec7;
}

.modGallery ul.nav li a {
  font-family: "droid serif", Georgia, times, serif;
  font-size: 18px;
  color: #4a4a43;
  line-height: 1em;
  padding: 0 0 0 4px;
}

.modGallery ul.nav li a:hover,
.modGallery ul.nav li a.current {
  color: #bd3b13;
}

.modGallery ul.nav li#all {
  border: none;
}

.modGallery.four-up>ul.works>li {
  margin-right: 26px;
}

.modGallery.four-up>ul.works>li .image-wrapper {
  width: 221px;
  height: 137px;
}

.modGallery.four-up>ul.works>li .image-wrapper a.image img {
  max-width: 209px;
}

.modGallery.four-up>ul.works>li .image-wrapper a.image span {
  left: 26%;
  top: 41%;
}

.modGallery.colorSchemeCyan ul.nav li a:hover,
.modGallery.colorSchemeCyan ul.nav li a.current {
  color: #53a9bc;
}

.modGallery.colorSchemeCyan ul.works li a.image {
  background: #ee6859;
}

.modGetInTouch {
  width: 260px;
  height: 270px;
  background: #eeede7 url(../images/get-in-touch/contact_form_bg.png) left top no-repeat;
  border: 5px solid #eeede7;
  -webkit-border-radius: 205px;
  -moz-border-radius: 205px;
  -ms-border-radius: 205px;
  -o-border-radius: 205px;
  border-radius: 205px;
  float: right;
  margin-top: -70px;
  padding: 65px 70px;
  text-align: center;
}

.modGetInTouch h4 {
  font-size: 40px;
  text-shadow: 1px 1px 0 #e5e5dd, 2px 2px 0 #cdcdcd;
}

.modGetInTouch form p {
  margin-bottom: 0;
  margin-left: 15px;
}

.modGetInTouch form input,
.modGetInTouch form textarea {
  font-size: 12px;
  color: #4a4a43;
}

.modGetInTouch form .error {
  border: 2px solid #d36159 !important;
}

.modGetInTouch form label {
  display: none !important;
}

.modGetInTouch form input.button {
  -webkit-box-shadow: 0 3px 0px 0px rgba(189, 59, 19, 0.2);
  -moz-box-shadow: 0 3px 0px 0px rgba(189, 59, 19, 0.2);
  box-shadow: 0 3px 0px 0px rgba(189, 59, 19, 0.2);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  padding: 0;
  color: white;
  font-size: 14px;
  font-family: "droid sans", "helvetica neue", helvetica, arial, sans-serif;
  margin-left: -15px;
  margin-top: 10px;
  text-transform: capitalize;
  font-weight: normal;
}

.modGetInTouch p.thanks {
  font-size: 18px;
  line-height: 1.5em;
  margin: 70px 0 0;
}

.oldie .modGetInTouch {
  behavior: url("stylesheets/PIE.htc");
  position: relative;
}

.oldie .modGetInTouch form p {
  overflow: visible;
}

.modLinks {
  padding: 35px 0 0;
}

.modLinks h4 {
  color: white;
  font-size: 20px;
  text-shadow: 1px 1px 0 #222222;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.modLinks a {
  color: #a1a1a0;
}

.modLinks a:hover {
  color: #eeeeee;
}

.modLinks.colorSchemeCyan h4 {
  color: white;
}

.modLinks.colorSchemeCyan a {
  color: #a1a1a0;
}

.modLinks.colorSchemeCyan a:hover {
  color: #eeeeee;
}

@-webkit-keyframes rotateLogo {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotateLogo {
  from {
    -moz-transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes rotateLogo {
  from {
    -o-transform: rotate(0deg);
  }

  to {
    -o-transform: rotate(360deg);
  }
}

@-ms-keyframes rotateLogo {
  from {
    -ms-transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
  }
}

.modLogo {
  top: -30px;
  position: relative;
}

.modLogo h2 {
  background: url(../images/LOGO2.png) no-repeat;
  /* background-image: url('../images/Без\ имени-1.png'); */
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  margin-left: 35px;
  /* border: 5px solid #eeede7; */
  -webkit-border-radius: 71px;
  -moz-border-radius: 71px;
  -ms-border-radius: 71px;
  -o-border-radius: 71px;
  border-radius: 71px;
}

.modLogo h2:hover {
  -webkit-animation: rotateLogo 0.8s 1;
  -moz-animation: rotateLogo 0.8s 1;
  -o-animation: rotateLogo 0.8s 1;
  -ms-animation: rotateLogo 0.8s 1;
}

.modLogo h2 a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
}

.modLogo.colorSchemeCyan h2 {
  background: #eeede7 url(../images/logo-cyan.png) no-repeat;
}

.oldie .modLogo h2 {
  behavior: url("stylesheets/PIE.htc");
  position: relative;
}

.modNav {
  background: transparent;
}

.modNav .nav-bar {
  background: transparent;
  border: none;
  margin-top: 22px;
}

.modNav .nav-bar>li {
  border: none;
  border: 1px solid transparent;
  margin-left: 15px;
}

.modNav .nav-bar>li>a {
  color: white;
  padding: 0 15px;
  line-height: 38px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif !important;
  font-weight: 200;
  letter-spacing: 0.05em;
  font-size: 24px;
}

/* .modNav .nav-bar>li>a:hover,
.modNav .nav-bar>li>a.current {
  background: #842002;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border-top: 1px solid #6e1b02;
  border-left: 1px solid #6e1b02;
  -webkit-box-shadow: 1px 1px 0 0 #ca6243;
  -moz-box-shadow: 1px 1px 0 0 #ca6243;
  box-shadow: 1px 1px 0 0 #ca6243;
  margin-top: -1px;
  margin-left: -1px;
} */

.modNav .nav-bar>li .sub-wrapper {
  background: url(../images/nav/sub_nav_bg.png) 20px 7px no-repeat;
  padding: 19px 0 0;
  position: absolute;
  z-index: 9999;
  display: none;
}

.modNav .nav-bar>li .sub-wrapper ul.sub {
  background: white;
  padding: 8px 30px 8px 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 0 0 rgba(94, 94, 94, 0.2);
  -moz-box-shadow: 4px 4px 0 0 rgba(94, 94, 94, 0.2);
  box-shadow: 4px 4px 0 0 rgba(94, 94, 94, 0.2);
}

.modNav .nav-bar>li .sub-wrapper ul.sub li {
  display: block;
}

.modNav .nav-bar>li .sub-wrapper ul.sub li a {
  display: block;
  color: #4a4a43;
  font-size: 16px;
  font-style: italic;
  white-space: nowrap;
  padding: 7px 0;
}

.modNav .nav-bar>li .sub-wrapper ul.sub li a:hover {
  color: #bd3b13;
}

.modNav .nav-bar>li:hover .sub-wrapper {
  display: block;
}

.modNav.colorSchemeCyan .nav-bar>li>a.current,
.modNav.colorSchemeCyan .nav-bar>li>a:hover {
  background-color: #268ea5;
  border-top: 1px solid #287688;
  border-left: 1px solid #287688;
  -webkit-box-shadow: 1px 1px 0 0 #79bac8;
  -moz-box-shadow: 1px 1px 0 0 #79bac8;
  box-shadow: 1px 1px 0 0 #79bac8;
}

.modNav.colorSchemeCyan .nav-bar>li .sub-wrapper ul.sub li a:hover {
  color: #53a9bc;
}

.oldie.ie8 .modNav .nav-bar>li {
  position: relative;
}

.oldie.ie8 .modNav .nav-bar>li>a {
  behavior: url("stylesheets/PIE.htc");
  position: relative;
}

.oldie.ie8 .modNav .nav-bar>li .sub-wrapper ul.sub {
  behavior: url("stylesheets/PIE.htc");
  position: relative;
}

.oldie.ie7 .modNav .nav-bar>li {
  margin: 0;
}

.oldie.ie7 .modNav .nav-bar>li>a {
  float: left;
  margin-left: 15px;
}

.oldie.ie7 .modNav .nav-bar>li>a:hover,
.oldie.ie7 .modNav .nav-bar>li>a.current {
  border-bottom: 1px solid #ca6243;
  border-right: 1px solid #ca6243;
  margin-right: -2px;
  margin-bottom: -2px;
}

.oldie.ie7 .modNav .nav-bar>li .sub-wrapper {
  left: 15px;
  top: 37px;
}

.oldie.ie7 .modNav .nav-bar>li .sub-wrapper ul.sub {
  border-bottom: 3px solid #cccccc;
}

.oldie.ie7 .modNav.colorSchemeCyan .nav-bar>li>a:hover,
.oldie.ie7 .modNav.colorSchemeCyan .nav-bar>li>a.current {
  border-bottom: 1px solid #79bac8;
  border-right: 1px solid #79bac8;
}

/* jQuery Nivo Slider v2.7.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2011, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010 */
/* The Nivo Slider styles */
.nivoSlider {
  position: relative;
}

.nivoSlider img {
  position: absolute;
  top: 0px;
  left: 0px;
}

.nivoSlider a.nivo-imageLink {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  z-index: 6;
  display: none;
}

/* If an image is wrapped in a link */
/* The slices and boxes in the Slider */
.nivo-slice {
  display: block;
  position: absolute;
  z-index: 5;
  height: 100%;
}

.nivo-box {
  display: block;
  position: absolute;
  z-index: 5;
}

/* Caption styles */
.nivo-caption {
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: black;
  color: white;
  opacity: 0.8;
  /* Overridden by captionOpacity setting */
  width: 100%;
  z-index: 8;
}

.nivo-caption p {
  padding: 5px;
  margin: 0;
}

.nivo-caption a {
  display: inline !important;
}

.nivo-html-caption {
  display: none;
}

/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
  position: absolute;
  top: 45%;
  z-index: 9;
  cursor: pointer;
}

.nivo-prevNav {
  left: 0px;
}

.nivo-nextNav {
  right: 0px;
}

/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
  position: relative;
  z-index: 9;
  cursor: pointer;
}

.nivo-controlNav a.active {
  font-weight: bold;
}

.icons-sprite,
.modNivoSlider .nivo-controlNav a,
.modNivoSlider .nivo-controlNav a.active {
  background: url('../images/nivo-slider/icons.png') no-repeat;
}

.modNivoSlider {
  border: 1px solid #dfdfdf;
  -webkit-box-shadow: 4px 4px 0px -1px rgba(196, 196, 196, 0.4);
  -moz-box-shadow: 4px 4px 0px -1px rgba(196, 196, 196, 0.4);
  box-shadow: 4px 4px 0px -1px rgba(196, 196, 196, 0.4);
  width: 972px;
  margin: 0 auto 60px;
}

.modNivoSlider .nivoSlider {
  position: relative;
  background: white url(../images/nivo-slider/loading.gif) no-repeat 50% 50%;
  width: 952px;
  height: 372px;
  border: 10px solid white;
}

.modNivoSlider .nivoSlider img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}

.modNivoSlider .nivoSlider a {
  border: 0;
  display: block;
}

.modNivoSlider .nivo-controlNav {
  position: absolute;
  left: 50%;
  bottom: 18px;
  margin-left: -440px;
  /* Tweak this to center bullets */
}

.modNivoSlider .nivo-controlNav a {
  display: block;
  width: 13px;
  height: 14px;
  background-position: 0 -914px;
  text-indent: -9999px;
  border: 0;
  margin-right: 7px;
  float: left;
}

.modNivoSlider .nivo-controlNav a.active {
  background-position: 0 -900px;
}

.modNivoSlider .nivo-directionNav a {
  display: block;
  width: 30px;
  height: 30px;
  background: url(../images/nivo-slider/arrows.png) no-repeat;
  text-indent: -9999px;
  border: 0;
}

.modNivoSlider a.nivo-nextNav {
  background-position: -30px 0;
  right: 15px;
}

.modNivoSlider a.nivo-prevNav {
  left: 15px;
}

.modNivoSlider .nivo-caption {
  font-family: Helvetica, Arial, sans-serif;
}

.modNivoSlider .nivo-caption a {
  color: white;
  border-bottom: 1px dotted white;
}

.modNivoSlider .nivo-caption a:hover {
  color: white;
}

.oldie .modNivoSlider {
  behavior: url("stylesheets/PIE.htc");
  position: relative;
}

.modSectionHeader {
  background: url(../images/section-header/section_header_bg.png) 0 50% repeat-x;
  text-align: center;
  margin: 0 auto 50px;
}

.modSectionHeader h3 {
  display: inline;
  background: url(../images/pattern-1.png);
  padding: 0 20px;
  text-shadow: 1px 1px 0 #eeeedd, 2px 2px 0 #cacaca;
}

.modSectionHeader.empty {
  margin: 5px auto 30px;
}

.modSectionHeader.empty h3 {
  visibility: hidden;
}

.modServices {
  width: 960px;
  margin: 0 auto 60px;
  overflow: auto;
}

.modServices>ul>li {
  background: url(../images/services/service_item_bg.png) left top no-repeat;
  width: 293px;
  height: 258px;
  float: left;
  text-align: center;
  padding-top: 35px;
  margin-right: 40px;
  margin-bottom: 50px;
}

.modServices>ul>li.no-margin-right {
  margin-right: 0;
}

.modServices>ul>li p {
  margin-bottom: 12px;
}

.modServices h4 {
  color: #bd3b13;
  margin-bottom: 12px;
  font-weight: bold;
  letter-spacing: 0.04em;
}

.modServices.overlapped {
  width: 819px;
}

.modServices.overlapped>ul>li {
  margin-left: -30px;
  margin-bottom: 0;
  margin-right: 0;
}

.modServices.overlapped>ul>li.no-margin-left {
  margin-left: 0;
}

.modServices.colorSchemeCyan h4 {
  color: #53a9bc;
}

.modSidebarWidget {
  margin-bottom: 40px;
}

.modSidebarWidget h5 {
  font-size: 20px;
  font-family: "droid serif", Georgia, times, serif;
  text-transform: capitalize;
  font-weight: normal;
  letter-spacing: 0.01em;
  color: black;
}

.modSidebarWidget ul li {
  padding: 0 0 5px;
}

.modSidebarWidget ul li a span {
  color: #bcbcb3;
}

.modSidebarWidget ul.tweets li {
  padding: 0 0 20px;
}

.modSidebarWidget ul.tweets li .timestamp {
  font-size: 12px;
  color: #999999;
  display: block;
  font-family: "droid sans", "helvetica neue", helvetica, arial, sans-serif;
}

.modSidebarWidget img {
  max-width: 282px;
}

.icons-sprite,
.modSocial ul>li>a.twitter,
.modSocial ul>li>a.facebook,
.modSocial ul>li>a.skype,
.modSocial ul>li>a.dribbble {
  background: url('../images/social/icons.png') no-repeat;
}

.modSocial {
  padding: 20px 0 0;
}

.modSocial ul {
  overflow: auto;
}

.modSocial ul>li {
  margin-bottom: 0;
  float: left;
}

.modSocial ul>li>a {
  text-indent: -9999px;
  display: block;
  margin-left: 10px;
  margin-bottom: 4px;
}

.modSocial ul>li>a.twitter {
  width: 23px;
  height: 22px;
  background-position: -60px 0;
}

.modSocial ul>li>a.facebook {
  width: 18px;
  height: 23px;
  background-position: -20px 0;
}

.modSocial ul>li>a.skype {
  width: 22px;
  height: 25px;
  background-position: -38px 0;
}

.modSocial ul>li>a.dribbble {
  width: 20px;
  height: 25px;
  background-position: 0 0;
}

.modSocial ul>li>a.twitter {
  margin-top: 1px;
}

.modSocial ul>li>a.twitter:hover {
  background-position: -60px -2px;
}

.modSocial ul>li>a.facebook:hover {
  background-position: -20px -2px;
}

.modSocial ul>li>a.skype:hover {
  background-position: -38px -2px;
}

.modSocial ul>li>a.dribbble:hover {
  background-position: 0 -2px;
}

.modStylePanel {
  position: absolute;
  z-index: 9999;
  left: 0;
  top: 240px;
  margin-left: -228px;
}

.modStylePanel .panel-container {
  float: right;
  background: white;
  padding: 25px 5px 0 20px;
  width: 200px;
  -webkit-border-radius: 0 8px 8px 0;
  -moz-border-radius: 0 8px 8px 0;
  -ms-border-radius: 0 8px 8px 0;
  -o-border-radius: 0 8px 8px 0;
  border-radius: 0 8px 8px 0;
  border: 1px solid #dfdfdf;
  border-left: 0;
  -webkit-box-shadow: 3px 3px 0px 0 rgba(196, 196, 196, 0.4);
  -moz-box-shadow: 3px 3px 0px 0 rgba(196, 196, 196, 0.4);
  box-shadow: 3px 3px 0px 0 rgba(196, 196, 196, 0.4);
}

.modStylePanel h4 {
  font-family: "droid serif", Georgia, times, serif;
  text-transform: capitalize;
  font-weight: normal;
  letter-spacing: 0.01em;
  font-size: 18px;
  margin-bottom: 10px;
}

.modStylePanel ul {
  margin-bottom: 25px;
  overflow: auto;
}

.modStylePanel ul li {
  display: inline;
}

.modStylePanel a.switch {
  float: right;
  margin-left: -3px;
  margin-top: 40px;
  padding: 10px;
  -webkit-border-radius: 0 8px 8px 0;
  -moz-border-radius: 0 8px 8px 0;
  -ms-border-radius: 0 8px 8px 0;
  -o-border-radius: 0 8px 8px 0;
  border-radius: 0 8px 8px 0;
  border: 1px solid #dfdfdf;
  border-left: none;
  -webkit-box-shadow: 3px 3px 0px 0 rgba(196, 196, 196, 0.4);
  -moz-box-shadow: 3px 3px 0px 0 rgba(196, 196, 196, 0.4);
  box-shadow: 3px 3px 0px 0 rgba(196, 196, 196, 0.4);
  text-indent: -3000px;
  display: block;
  width: 20px;
  background: white url(../images/style-panel/switch_bg.png) 12px 10px no-repeat;
}

.modStylePanel a.switch.to-close {
  background: white url(../images/style-panel/switch_bg.png) 12px -30px no-repeat;
}

.modStylePanel a.color_scheme,
.modStylePanel a.bg_pattern {
  border: 1px solid #cccccc;
  padding: 5px 10px;
  width: 45px;
  display: block;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  text-indent: -3000px;
}

.modStylePanel a.color_scheme:hover,
.modStylePanel a.bg_pattern:hover {
  border: 1px solid #999999;
}

.modStylePanel a#red {
  background: #bd3b13;
}

.modStylePanel a#cyan {
  background: #59a9bb;
}

.modStylePanel a#pattern-1 {
  background: url(../images/pattern-1.png) left top no-repeat;
}

.modStylePanel a#pattern-2 {
  background: url(../images/pattern-2.png) left top no-repeat;
}

.modStylePanel a#pattern-3 {
  background: url(../images/pattern-3.png) left top no-repeat;
}

.modStylePanel a#pattern-4 {
  background: url(../images/pattern-4.png) left top no-repeat;
}

.modStylePanel a#pattern-5 {
  background: url(../images/pattern-5.png) left top no-repeat;
}

.modStylePanel a#pattern-6 {
  background: url(../images/pattern-6.png) left top no-repeat;
}

.modStylePanel a#pattern-7 {
  background: url(../images/pattern-7.png) left top no-repeat;
}

.modStylePanel a#pattern-8 {
  background: url(../images/pattern-8.png) left top no-repeat;
}

.modStylePanel a#pattern-9 {
  background: url(../images/pattern-9.png) left top no-repeat;
}

.modStylePanel a#pattern-10 {
  background: url(../images/pattern-10.png) left top no-repeat;
}

.oldie .modStylePanel .panel-container {
  behavior: url("stylesheets/PIE.htc");
  position: relative;
}

.oldie .modStylePanel a.switch {
  behavior: url("stylesheets/PIE.htc");
  position: relative;
}

.oldie.ie7 body {
  overflow: hidden;
}

.oldie.ie7 .modStylePanel {
  width: 264px;
}

.modTagline {
  margin-bottom: 40px;
}

.modTagline h2 {
  text-shadow: 1px 1px 0 #f8f8ef, 2px 4px 0 #cdcdcd;
}

.modTagline h2 span {
  font-size: 42px;
  font-family: arial, helvetica, sans-serif;
  font-weight: bold;
  display: inline-block;
  position: relative;
  top: -20px;
}

.modTagline p {
  font-style: oblique;
  font-size: 22px;
  line-height: 1.3em;
  width: 70%;
  margin: 0 auto;
}

.oldie .modTagline h2 {
  zoom: 1;
  background: white;
  filter: progid:DXImageTransform.Microsoft.Chroma(Color=white) progid:DXImageTransform.Microsoft.DropShadow(OffX=2, OffY=4, Color=#cdcdcd);
}

.modTestimonials h3 {
  margin-bottom: 40px;
  text-shadow: 1px 1px 0 #e5e5dd, 2px 2px 0 #cdcdcd;
}

.modTestimonials .testimonials {
  background-color: rgba(155, 155, 143, 0.1);
  padding: 30px 30px 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.modTestimonials .testimonials blockquote {
  height: auto;
}

.modTestimonials .testimonials p {
  width: 340px;
  padding: 50px 0 0 30px;
  margin-bottom: 10px;
  background: url(../images/testimonials/quote_left.png) left top no-repeat;
}

.modTestimonials .testimonials cite {
  width: 369px;
  padding: 50px 0 0 30px;
  background: url(../images/testimonials/quote_right.png) right top no-repeat;
}

.modTestimonials ul.pagination {
  float: right;
  padding: 15px 30px 0 0;
}

.modTestimonials ul.pagination li a {
  width: 10px;
  height: 16px;
  padding: 0;
  display: block;
  float: left;
  text-indent: -2000px;
  background: url(../images/testimonials/testimonials_control.png) -14px 4px no-repeat;
}

.modTestimonials ul.pagination li a:hover {
  border: none;
}

.modTestimonials ul.pagination li.current a {
  border: none;
  background: url(../images/testimonials/testimonials_control.png) left 4px no-repeat;
}

.modTestimonials.colorSchemeCyan .testimonials p {
  background: url(../images/testimonials/quote_left_cyan.png) left top no-repeat;
}

.modTestimonials.colorSchemeCyan .testimonials cite {
  background: url(../images/testimonials/quote_right_cyan.png) right top no-repeat;
}

.oldie .modTestimonials .testimonials {
  -pie-background: rgba(155, 155, 143, 0.1);
  behavior: url("stylesheets/PIE.htc");
  position: relative;
}

.oldie.ie7 .modTestimonials {
  overflow: visible;
}

.cards {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.card {
  cursor: pointer;
  margin: 20px;
  /* box-shadow: -5px 5px 5px -5px #333; */
}

/* .card .uslug_img {
  width: 200px;
  height: 285px;
} */
.uslug_card {
  background-image:url('../images/категории/рамка2.png');
}
/* .card img {
  width: 200px;
  height: 250px;
} */

/* .shop_card {
  background-image: url('../images\категории 2\рамка2.png');
} */

.cards .card p {
  font-family: 'Nexa Script Heavy';
  font-weight: bold;
  font-size: 26px;
  margin-top: -45px;
}
/* .cards .uslug_card p {
  margin-top: -50px;
} */

.no-margin-left h4 {
  font-family: 'Oswald', sans-serif !important;
  font-weight: bold;
}

.style-work ul li {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 800;
  font-size: 12px;
  text-align: center;
}

.contacts {
  background-color: rgba(155, 155, 143, 0.1);

}

.inp {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contacts input {
  font-family: 'Oswald', sans-serif !important;
  height: 40px;
  border: none;
}

.contacts textarea {
  font-family: 'Oswald', sans-serif !important;
  margin-top: 20px;
  width: 425px;
  height: 170px;
}

.send {
  text-align: center;
}

.send button {
  cursor: pointer;
  background-color: #bd3b13;
  color: #fff;
  border: none;
  font-weight: bold;
  width: 200px;
  height: 40px;
}

#footer {
  margin-top: 30px;
  height: 70px;
}

.foot {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 25px;
}
.contact {
  margin-top: 100px !important;
}

.foot h6 {
  text-transform: none;
  color: #ffff;
}

.icons img {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.df {
  display: flex;
}

/* this line to fuck */

.frame {
  max-width: 1335px;
  margin: 0 auto;
  border: 2px solid gray;
  -webkit-box-shadow: -1px 8px 8px 2px rgba(34, 60, 80, 0.3);
  -moz-box-shadow: -1px 8px 8px 2px rgba(34, 60, 80, 0.3);
  box-shadow: -1px 8px 8px 2px rgba(34, 60, 80, 0.3);
}

.box {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
  align-items: center;
  background-color: #e5e5dd;
  max-width: 1200px;
  /* width: 95%; */
  margin: 0 auto;
}
/* .map {
  margin-left: 50px;
} */
.box-content {
  background-color: #fff;
  border: 1px solid gray;
  width: 320px;
  height: 440px;
}

.box-content h3 {
  padding: 10px 50px;
  display: inline-block;
  color: white;
  font-size: 22px;
  font-weight: bold;
  margin: 18px 20px 0 20px;
}
.soalcxz {
  justify-content: space-around;
}

.box-text h4 {
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  font-size: 21px;
}

.box-text p {
  font-weight: bold;
  font-size: 18px;
  color: red;
}

.box-text {
  text-align: center;
}

.box-text p {
  font-family: 'Oswald';
  font-weight: bold;
}

.box-color h3 {
  background-color: red;
  width: 117px;
}

.h4-wrap {
  text-align: center;
  margin: 20px 0 8px 0;
  padding: 0 20px;
  font-size: 12px;
}

.fa-whatsapp {
  color: grey;
  font-size: 30px;
}

.fa-viber {
  color: grey;
  font-size: 30px;
}

.fa-telegram {
  font-size: 30px;
  color: grey;
}

.fa-instagram {
  font-size: 30px;
  color: gray;
}

.fa-facebook {
  font-size: 30px;
  color: gray;
}

.fa-vk {
  font-size: 30px;
  color: gray;
}

.icon-contents {
  justify-content: space-between;
  padding: 0 18px;
}

.icon-contents i {
  margin: 8px;
}

.h5-wrap h5 {
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  margin: 7px 0 25px 0;
  padding: 0 20px;
}

.box-text::before .left-line {
  width: 1px;
  height: 60px;
  color: gray;
}
.social img {
  width: 30px;
  height: 30px;
}
.order {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.title_ord {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}
.order_titles {
  border: 2px solid #666666;
  background-color: #ecece4;
  width: 400px;
  height: 87vh;
}
.order_input {
  margin-right: 45px;
}
.number {
  margin-right: 5px;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 2px solid grey;
  border-radius: 50%;
  text-align: center;
}
.title {
  margin-right: 20px;
}
.title_ord {
  padding-top: 30px;
  padding-left:20px;
}
.title p {
  margin: 0;
  font-size: 20px;
}
.line {
  border-bottom: 1px solid #666666;
  width: 310px;
  margin-left: 50px;
  margin-top: 10px;
}
.title {
  display: flex;
  align-items: center;
}
.order_input input {
  margin-top: 5px;
  width: 150px;
  font-size: 9px;
  text-align: center;
}
.order_input select {
  width: 150px;
  text-align: center;
}
.order_input label {
  cursor: pointer;
  padding: 0 55px 0 55px;
  background-color: #fff;
  border:1px solid #666666;
  color: #666666;
  margin-right: 0 auto;
}
.order_input label span {
  text-align: center;
  margin-right: 0 auto;
}
.price {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  padding-top: 12px;
  font-size: 26px;
  background-color: red;
  color: #fff;
  text-align: center;
  height: 40px;
}
.order_link {
  margin-top: 15px;
  text-align: center;
}
.order_link a {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 26px;
  color: #000;
  text-decoration: underline;
}
.counter {
  text-align: center;
  border: 1px solid #666666;
  width: 150px;
  background-color: #fff;
}
.counter button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-top: 5px;
}
.counter button:nth-child(1) {
  float: left;
}
.counter button:nth-child(3) {
  float: right;
}
.res {
  border-left: 1px solid #666666;
  border-right: 1px solid #666666;
  padding: 0 40px;
}
.order_img_one {
  background-color: #fff;
  border: 2px solid #666666;
  margin-left: 20px;
}
.order_img_one img:nth-child(1) {
  height: 260px;
  width: 310px;
}
.order_img_one img:nth-child(2) {
  height: 278px;
  width: 310px;
}
.pricee {
  text-align: right;
  font-family: 'Oswald';
  color: blue;
  font-size: 26px;
  margin: 10px;
}
.ides {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  font-size: 26px;
  color: #666666;
  font-family: 'Oswald';
}
.popup_title {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
#popup_container,
#popup_container1 {
  display: none;
}
.active {
  display: block !important;
}
.active1 {
  display: block !important;
}
.popup_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #ecece4;
  border: 6px solid #666666;
  text-align: center;
  position: absolute;
  top: 0;
  left: 25%;
  margin-top: 170px;
}
.popup_title h4 {
  font-family: 'Oswald',sans-serif !important;
  /* color: #fff; */
  margin: 0 auto;
  padding-left: 60px;
}
.popub_close  {
  background-color: transparent;
  border: none;
  font-size: 26px;
  margin-right: 50px;
  cursor: pointer;
  /* color: #fff; */
}
.popup_images .df {
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}
.images {
  cursor: pointer;
  border: 2px solid #666666;
  background-color: #fff;
  margin: 10px;
  width: 200px;
  height: 240px;
}
.images img {
  width: 250px;
  height: 200px;
}
.images:hover {
  transition: 0.5s all;
  background-color: #fff;
  opacity: 0.45;
}
.images a p {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-family: 'Oswald';
  font-weight: bold;
}
.nav li {
  cursor: pointer;
}